# recommended terraform files to ignore
**/.terraform/*
**/.terraform.lock.hcl

*.tfstate
*.tfstate.*

*.tfvars

terraform.tfvars
terraform.tfstate

crash.log

# ignore all files in ANY credentials directory, or files with the name credentials
credentials
credentials.tf

# ignore apple macOS files
.DS_Store